@keyframes bgscroll {
    0% {
        background-position: top left;
    }
    50% {
        background-position: bottom right;
    }
    100% {
        background-position: top left;
    }
}

@keyframes rainbow {
    0% {
        color: #ff0000;
    }
    16% {
        color: #ffff00;
    }
    33% {
        color: #00ff00;
    }
    50% {
        color: #00ffff;
    }
    67% {
        color: #0000ff;
    }
    83% {
        color: #ff00ff;
    }
    100% {
        color: #ff0000;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

body {
    background: lavender;
}

body.retro {
    font-family: serif;
    color: #000000;
    background: url("hats.png") #ffffff fixed repeat top left / 15%;
    animation: bgscroll 30s linear infinite;
}

main {
    background-color: #ffffffee;
}

body.retro .dx {
    animation: rainbow 2s linear infinite;
}

.x {
    color: orange;
}

h3 {
    color: #00ffff;
}

h4 {
    color: #00ff00;
}