@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@keyframes bgscroll {
    0% {
        background-position: top left;
    }
    50% {
        background-position: bottom right;
    }
    100% {
        background-position: top left;
    }
}

@keyframes rainbow {
    0% {
        color: #ff0000;
    }
    16% {
        color: #dcdc00;
    }
    33% {
        color: #00ff00;
    }
    50% {
        color: #00ffff;
    }
    67% {
        color: #0000ff;
    }
    83% {
        color: #ff00ff;
    }
    100% {
        color: #ff0000;
    }
}

body {
    background: #888888;
    font-family: 'Noto Sans', sans-serif;
}

body.retro {
    color: #000000;
    background: url("hats.png") #ffffff fixed repeat top left / 15%;
    animation: bgscroll 30s linear infinite;
}

body.dark {
    color: #ffffff;
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
}
header button {
    flex-grow: 1;
    margin: 0 1em;
}

main {
    background-color: #ffffffee;
}

body.dark main {
    background-color: #000000ee;
}

body.retro .dx {
    animation: rainbow 2s linear infinite;
}

.x {
    color: #ec7731;
}

h3 {
    color: #ff0000;
}

h4 {
    color: #0000ff;
}